@import url('https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap');

body{
    font-family: "TASA Explorer", sans-serif;
    background: #ffffff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 245, 228, 1) 38%, rgba(255, 227, 193, 1) 66%);
}