@import url(https://fonts.googleapis.com/css?family=Muli);

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Muli', sans-serif;
    text-align: justify;
}

header {
    position: fixed;
    top: 0;
    width: 100%; 
    background-color: #16A085;
    height: 130px;
    overflow: hidden;
    z-index: 10; 
}

footer{
    position: fixed;
    margin-top: 20px;
    background: #16A085;
    height: 50px;
    bottom: 0;
    width: 100%; 
}

header div, footer div{
    width: 80%;
    margin: 0 auto;
    color: white;
}

h1{
    font-size: 2.3rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}

h2{
    font-size: 3rem;
}

section{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap; /*propiedad y valor vistas en clase*/
    overflow: hidden;
    position: relative;
    margin-top: 130px;
    margin-bottom: 50px;
}

section article{
    font-size: 0.9rem;
    height: 340px;
    width: 32.33%;
    margin: 0.5%;
    border: 2px dashed #16A085;
    padding: 1%;
    box-sizing: border-box;
    overflow: hidden;
}

section article img{
    height: 180px;
    max-width: 80%;
    margin: 5px auto;
    display: block;
}

section article h3{
    text-align: center;
}

footer div{
    padding-top: 1rem;
}

section article:nth-child(2){
    background-color: rgba(70, 130, 180, 0.9);
    /*position: absolute;
    position: relative*/
    position: static;
    left: 100px;
    top: 50px;
    /*visibility: hidden;*/
    display: none;
}