@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    margin-top: 2vh;
    margin-left: 5vh;
}

.formulario div:first-child{
    margin-top: 3vh;
}

.labels{
    display: flex;
    margin-bottom: 3vh;
    flex-direction: column;
}

.labels input{
    font-size: 0.8rem;
    padding: 10px;
    margin-top: 1.5vh;
    border-radius: 6px;
    border: solid 1px rgb(211, 211, 211);
    width: 25%;
}

button{
    display: flex;
    margin-bottom: 3vh;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    color: white;
    font-size: 0.85rem;
    background-color: rgb(55, 135, 220);
    box-shadow: 4px 6px 15px -3px rgba(0,0,0,0.43);
}

small{
    color: rgb(166, 166, 166);
}
